<div class="todos">
  <form (submit)="startMonitoring()">
    <input type="text" name="inputUrl" placeholder="Enter kurento url..." class="todo-input" [(ngModel)]="inputUrl" />
    <button  class="todo-submit" mat-raised-button color="accent">Add</button>
  </form>
</div>






<mat-card *ngFor="let c of connections">
  <mat-card-title>{{ c.url }}</mat-card-title>
  <mat-card-subtitle>Pipelines</mat-card-subtitle>

  <mat-expansion-panel *ngFor="let p of c.pipelines" [expanded]="getPanelState(p.id)" (opened)="panelSetOpenState(p.id)" (closed)="panelSetCloseState(p.id)">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ p.id }}
      </mat-panel-title>
      <mat-panel-description>
        {{ p.name }}
      </mat-panel-description>
      <button mat-button (click)="openDialog(p, c.url)">RELEASE</button>
    </mat-expansion-panel-header>
    <!-- INIT CONTENT PANEL -->
    <!-- CHILDREN -->
    <mat-selection-list #children>
      <mat-list-option *ngFor="let child of p.children">
        <tr>
          <th>Name</th>
          <th>Type</th>
        </tr>
        <tbody>
          <tr>
            <td>{{child.name}}</td>
            <td>{{child.type}}</td>
          </tr>
        </tbody>
        <mat-divider></mat-divider>
      </mat-list-option>
    </mat-selection-list>
    <!-- END CONTENT PANEL -->
  </mat-expansion-panel>

  <mat-card-actions>
    <button mat-button (click)="remove(c)">STOP MONITOR</button>
  </mat-card-actions>
  <div>
    <tr>
      <th>Used Memory</th>
      <th>Type</th>
      <th>Version</th>
      <th>Used CPU</th>
    </tr>
    <tbody>
      <tr>
        <td>{{c.serverInfo?.usedMemory}}</td>
        <td>{{c.serverInfo?.type}}</td>
        <td>{{c.serverInfo?.version}}</td>
        <td>{{c.serverInfo?.usedCpu}}%</td>
      </tr>
    </tbody>

  </div>
</mat-card>
